.about-us{
&__position {
    padding-top: 94px;
}
&__list {
    display: flex;
}
&__block {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--buttons-bg);
}
&__title {margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    color: var(--title-color);
    letter-spacing: 0.03em;
}
&__element:not(:last-child) {
    margin-right: 30px;
}
&__description{font-size: 14px;
    line-height: 1.8;
    color: var(--txt-about);
    letter-spacing: 0.02em;
}
}